img {
    max-width: 600px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
    border-bottom: 2px solid black;
}
.logo {
    display: flex;
}
.logo img {
    height: 60px;
    width: 70px;
}
.logo h3 {
    margin: auto 0;
}
.datepicker-container {
    margin-top: 30px;
}
.datepicker {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.datepicker-header {
    text-align: center;
}
.nav-items {
    margin: 11px 0 0 0;
}
.nav-items ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}
li {
    margin-right: 20px;
}